<ng-container *ngIf="authSvc.user$ | async as user">

  <div class="row">
    <!-- Form new Supplier -->
    <div class="col-12 col-lg-4">
      <div class="card">
        <div class="card-header">
          <h5>Nuevo Proveedor</h5>
        </div>
        <div class="card-body">
          <form [formGroup]="newFormSupplier"
                (ngSubmit)="onSave(user.uid, user.displayName, user.email, user.photoURL)">

            <div class="form-group">
              <label for="name">RAZON SOCIAL</label>
              <input type="text" class="form-control" id="name" formControlName="name"
                     placeholder="Ejemplo: Transportes Hermanos" required="required" autofocus>
            </div>

            <div class="form-group">
              <label for="ruc">RUC</label>
              <input type="number" class="form-control" id="ruc" formControlName="ruc" required="required">
            </div>

            <button type="submit" class="btn btn-block btn-primary">
              Guardar
            </button>

          </form>
        </div>
      </div>
    </div>

    <!-- List Suppliers -->
    <div class="col-12 col-lg-8">
      <div class="card">
        <div class="card-body">
          <ul class="list-group">
            <li class="list-group-item">
              <div class="d-flex justify-content-between header-list">
                <span><strong>RAZON SOCIAL</strong></span>
                <span><strong>RUC</strong></span>
              </div>
            </li>
            <li class="list-group-item d-flex justify-content-between" *ngFor="let supplier of listSuppliers">
              <div class="d-flex justify-content-between item-list">
                <span>{{supplier.name}}</span>
                <span>{{supplier.ruc}}</span>
              </div>
              <button type="button" class="btn btn-danger btn-sm btn-delete" (click)="onDelete(supplier.id)">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                     class="bi bi-trash-fill" viewBox="0 0 16 16">
                  <path
                    d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                </svg>
              </button>
            </li>

          </ul>
        </div>
      </div>
    </div>
  </div>


</ng-container>
