<div class="mobile">
  <ng-container *ngIf="showForm === false">
    <button type="button" class="btn btn-block btn-primary" (click)="showFormAlert()">
      Nueva Alerta
    </button>
  </ng-container>

  <ng-container *ngIf="showForm === true">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="newFormAlert" (ngSubmit)="onSave(user.uid, user.displayName, user.email, user.photoURL)">
          <div class="form-group">
            <label for="nameAlert">Nombre de alerta</label>
            <input type="text" class="form-control" id="nameAlert" formControlName="nameAlert"
                   placeholder="Ejemplo: Pagar el teléfono">
          </div>

          <div class="form-group">
            <label for="dateAlert">Fecha</label>
            <input type="date" class="form-control" id="dateAlert" formControlName="dateAlert">
          </div>

          <div class="form-group">
            <label for="timeAlert">Hora</label>
            <input type="time" class="form-control" id="timeAlert" formControlName="timeAlert">
          </div>

          <div class="form-row">
            <div class="col">
              <button type="button" class="btn btn-block btn-secondary" (click)="hideFormAlert()">
                Cancelar
              </button>
            </div>
            <div class="col">
              <button type="submit" class="btn btn-block btn-primary">
                Guardar
              </button>
            </div>
          </div>

        </form>
      </div>
    </div>
  </ng-container>
  <hr>
</div>

<div class="desktop">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="newFormAlert" (ngSubmit)="onSave(user.uid, user.displayName, user.email, user.photoURL)">
        <div class="form-group">
          <label for="nameAlert">Nombre de alerta</label>
          <input type="text" class="form-control" id="nameAlert" formControlName="nameAlert"
                 placeholder="Ejemplo: Pagar el teléfono">
        </div>

        <div class="form-group">
          <label for="dateAlert">Fecha</label>
          <input type="date" class="form-control" id="dateAlert" formControlName="dateAlert">
        </div>

        <div class="form-group">
          <label for="timeAlert">Hora</label>
          <input type="time" class="form-control" id="timeAlert" formControlName="timeAlert">
        </div>

        <div class="form-row">
          <div class="col">
            <button type="button" class="btn btn-block btn-secondary" (click)="hideFormAlert()">
              Cancelar
            </button>
          </div>
          <div class="col">
            <button type="submit" class="btn btn-block btn-primary">
              Guardar
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>



