.logo {
  height: 50px;
}

.img-avatar {
  width: 25px;
  margin-top: -5px;
  border-radius: 50%;
}

.bg-navbar {
  background-color: #1e5a82;
}

.navbar-title {
  font-size: 14px;
  font-weight: bold;
}

.navbar-subtitle {
  font-size: 12px;
  color: #fff;
}
